:root{
  --parallax-height: 50vh;
  --header-color: #ffa500;
}

@import url('https://fonts.googleapis.com/css?family=Monda');
*{margin: 0;padding: 0;box-sizing: border-box;scroll-behavior: smooth;}
body{
  overflow-x: hidden;
  transform-style: preserve-3d;
  perspective: 100vw;
  transform-origin: center;
}

#root{
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  //overflow-y: scroll;
}

.parallax{
  width: 100vw;
  height: var(--parallax-height);
  position: absolute;
  left: 0;
  top: 0;
  transform: translateZ(-5px);
  background-size: cover;
}

